<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	metadata-complete="true">

	<display-name>Archetype Created Web Application</display-name>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>palindrome-service</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>palindrome-service</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Messages</web-resource-name>
			<url-pattern>*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>queue-admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>palindrome</realm-name>
	</login-config>

	<security-role>
		<role-name>queue-admin</role-name>
	</security-role>
	<security-role>
		<role-name>user</role-name>
	</security-role>

</web-app>
